@keyframes del {
    0% {
        opacity: 1;
        max-height: 100vh;
    }
    75% {
        opacity: 0;
        max-height: 100vh;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

textarea {
    resize: none;
    overflow: hidden;
}

input.form-control:focus, textarea.form-control:focus {
    border: 1px solid #222 !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.message {
    animation-name: del;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.del {
    display: none;
}

.message:hover .del, .message:active .del {
    display: block;
}

#sidebar {
    width:272px;
}

#channel {
    width: calc(100vw - 272px);
}

#sidebar-close {
    display: none;
}

#message-text {
    height: 0;
    background-color: #303030;
    color:white;
}

#display-name, #channel-name {
    background-color: #444;
    color: white;
}

#channel-list, #message-list {
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin: 5px;
    background: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .del {
        display: block;
    }

    .collapse, .collapsing {
        position: fixed;
        background-color: #222;
        overflow-x: hidden;
        padding-bottom: 32px;
        width: 0;
        z-index: 10;
    }

    .collapsing {
        transition-property: width;
    }

    .collapse.show {
        width: 272px;
        z-index: 10;
    }

    .show #overlay, .collapsing #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 5;
    }

    .collapsing #sidebar-close {
        display: inline;
    }

    .show #sidebar-close {
        display: inline-block;
    }

    #sidebar {
        z-index: 10;
    }

    #channel {
        width: 100vw;
    }

}
